.find {

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: 2rem auto;
	padding: 2rem 0.5rem;

	box-shadow: 0 0 5px gray;
	background-color: white;

	input {
		font-size: 1.2rem;
		padding: 0.1rem 0.5rem;
		outline: none;
		border: none;
		border-bottom: 2px solid #dbdbdb;
		position: relative;
		width: 90%;

		&::placeholder {
			font-style: italic;
		}
	}

	button {
		position: relative;
		outline: none;
		border: none;
		font-size: 1.2rem;
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;

		background-color: white;
		box-shadow: 0 0 5px gray;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: transparent;
		}

		&:active {
			&::before {
				background-color: #c9c9c985;
			}
		}	
	}
}

.validate-code-container {
	display: flex;
	justify-content: space-between;
	width: 90%;

	input {
		width: 60%;
	}

	span {
		display: block;
		width: 30%;
		min-width: 72px;
		background-color: #408ed0;
		color: white;
		border-radius: 0.5rem;
		padding: 0.5rem 0.2rem;
		text-align: center;
	}
}

@media screen and (max-width: 380px) {
	.validate-code-container {
		span {
			font-size: 0.8rem;
		}
	}
}
