.progress-container {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: transparent;
    overflow: hidden;
    text-align: center;

    canvas {
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	bottom: 0;
    	left: 0;

    	z-index: 4;
    }
}

.publish-tip-container {
	position: absolute;
    text-align: center;
    width: 100%;
	font-size: 1rem;
	color: white;
	z-index: 5;
	bottom: 15%;
}

.result-container {
	position: absolute;
	z-index: 5;
}

.progress-default {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: block;
	transition: 0.8s all ease;

	&::before {
        transition: 0.8s all ease;
		content: "";
        position: absolute;
        left: 0;
        width: 600px;
        height: 600px;
        animation-name: rotate;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        top: 0;
        border-radius: 48%;
        animation-duration: 5s;
    }
}

.progress-background-normal {
	background-color: #3880ff;

	&::before {
        background-color: #3880ff;
    }
}

.progress-background-error {
	background-color: #ff6d6d;

	&::before {
        background-color: #ff6d6d;
    }
}

.progress-background-success {
	background-color: #45db85;

	&::before {
        background-color: #45db85;
    }
}

@keyframes rotate {
    0% {
    transform: translateX(-100%) translateY(-2%) rotateZ(0deg);
    }
    50% {
    transform: translateX(50%) translateY(0%) rotateZ(180deg);
    }
    100% {
    transform: translateX(100%) translateY(-2%) rotateZ(360deg);
    }
}
