.item-in {
	// transition: 0.5s all ease;
	transform: scale(0);
	animation: item-in 0.3s linear forwards;
}

.item-out {
	// transition: 0.5s all ease;
	transform: scale(1);
	animation: item-out 0.3s linear forwards;
}

@keyframes item-in {
	100% {
		transform: scale(1);
	}
}

@keyframes item-out {
	100% {
		transform: scale(0);
	}
}
