.item-in {
	transform: scale(0);
	animation: item-in 0.3s linear forwards;
}

.item-out {
	// transform: scale(1);
	animation: item-out 0.3s linear forwards;
}

@keyframes item-in {
	100% {
		transform: scale(1);
	}
}

@keyframes item-out {
	80% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		opacity: 0;
		position: absolute;
	}
}
