<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongliu.goodquestion.mapper.CommentMapper">

    <select id="selectComment" resultType="comment">
        SELECT solution_i_d,comment_i_d,account,content,reply_target,`date`,statu,reason
        FROM `comment`
        WHERE 1=1
        <if test="solutionID != null">AND solution_i_d=#{solutionID}</if>
        <if test="commentID != null">AND comment_i_d=#{commentID}</if>
        <if test="account != null">AND account=#{account}</if>
        <if test="content != null">AND content=#{content}</if>
        <if test="replyTarget != null">AND reply_target=#{replyTarget}</if>
        <if test="date != null">AND `date`=#{date}</if>
        <if test="statu != null">AND statu=#{statu}</if>
        <if test="reason != null">AND reason=#{reason}</if>
    </select>

    <insert id="insertComment" >
        INSERT INTO `comment`(solution_i_d,comment_i_d,account,content,reply_target,`date`,statu,reason)
        VALUES (#{solutionID},#{commentID},#{account},#{content},#{reply_target},#{date},#{statu},#{reason})
    </insert>

    <delete id="deleteQComment">
        DELETE FROM `comment`
        WHERE 1=1
        <if test="solutionID != null">AND solution_i_d=#{solutionID}</if>
        <if test="commentID != null">AND comment_i_d=#{commentID}</if>
        <if test="account != null">AND account=#{account}</if>
        <if test="content != null">AND content=#{content}</if>
        <if test="replyTarget != null">AND reply_target=#{replyTarget}</if>
        <if test="date != null">AND `date`=#{date}</if>
        <if test="statu != null">AND statu=#{statu}</if>
        <if test="reason != null">AND reason=#{reason}</if>
    </delete>

    <update id="updateComment">
        UPDATE `comment`
        <set>
            comment_i_d=#{commentID},
            <if test="solutionID != null">solution_i_d=#{solutionID},</if>
            <if test="account != null">account=#{account},</if>
            <if test="content != null">content=#{content},</if>
            <if test="replyTarget != null">reply_target=#{replyTarget},</if>
            <if test="date != null">`date`=#{date},</if>
            <if test="statu != null">statu=#{statu},</if>
            <if test="reason != null">reason=#{reason},</if>
        </set>
        WHERE comment_i_d=#{commentID}
    </update>

</mapper>