<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongliu.goodquestion.dao.mapper.QuestionMapper">

    <select id="selectQuestion" resultType="question">
        SELECT question_i_d,title,summary,cover,`type`,solution_num,image_description,`date`,statu,reason,account,tag
        FROM `question`
        WHERE 1=1
        <if test="questionID != null">AND question_i_d=#{questionID}</if>
        <if test="title != null">AND title=#{title}</if>
        <if test="summary != null">AND summary=#{summary}</if>
        <if test="cover != null">AND cover=#{cover}</if>
        <if test="type != null">AND `type`=#{type}</if>
        <if test="solutionNum != null">AND solution_num=#{solutionNum}</if>
        <if test="imageDescription != null">AND image_description=#{imageDescription}</if>
        <if test="date != null">AND `date`=#{date}</if>
        <if test="statu != null">AND statu=#{statu}</if>
        <if test="reason != null">AND reason=#{reason}</if>
        <if test="account != null">AND account=#{account}</if>
        <if test="tag != null">AND tag=#{tag}</if>
    </select>
    <select id="selectQuestionByKeyWork" resultType="string">

        SELECT title
        FROM `question`
        WHERE title like #{keyWork} OR summary like #{keyWork} LIMIT 0,#{suggestNum}
    </select>

    <insert id="insertQuestion" >
        INSERT INTO `question`(question_i_d,title,summary,cover,`type`,solution_num,image_description,`date`,statu,reason,account,tag)
        VALUES (#{questionID},#{title},#{summary},#{cover},#{type},#{solutionNum},#{imageDescription},#{date},#{statu},#{reason},#{account},#{tag})
    </insert>

    <delete id="deleteQuestion">
        DELETE FROM `question`
        WHERE 1=1
        <if test="questionID != null">AND question_i_d=#{questionID}</if>
        <if test="title != null">AND title=#{title}</if>
        <if test="summary != null">AND summary=#{summary}</if>
        <if test="cover != null">AND cover=#{cover}</if>
        <if test="type != null">AND `type`=#{type}</if>
        <if test="solutionNum != null">AND solution_num=#{solutionNum}</if>
        <if test="imageDescription != null">AND image_description=#{imageDescription}</if>
        <if test="date != null">AND `date`=#{date}</if>
        <if test="statu != null">AND statu=#{statu}</if>
        <if test="reason != null">AND reason=#{reason}</if>
        <if test="account != null">AND account=#{account}</if>
        <if test="tag != null">AND tag=#{tag}</if>
    </delete>

    <update id="updateQuestion">
        UPDATE `question`
        <set>
            WHERE 1=1
            question_i_d=#{questionID},
            <if test="title != null">title=#{title},</if>
            <if test="summary != null">summary=#{summary},</if>
            <if test="cover != null">cover=#{cover},</if>
            <if test="type != null">`type`=#{type},</if>
            <if test="solutionNum != null">solution_num=#{solutionNum},</if>
            <if test="imageDescription != null">image_description=#{imageDescription},</if>
            <if test="date != null">`date`=#{date},</if>
            <if test="statu != null">statu=#{statu},</if>
            <if test="reason != null">reason=#{reason},</if>
            <if test="account != null">account=#{account},</if>
            <if test="tag != null">tag=#{tag},</if>
        </set>
        WHERE question_i_d=#{questionID}
    </update>

</mapper>