<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongliu.goodquestion.mapper.SolutionMapper">

    <select id="selectSolution" resultType="solution">
        SELECT question_i_d,solution_i_d,resolver,content,comment,favor,opposition,cite_solution,`date`,statu,reason
        FROM `solution`
        WHERE 1=1
        <if test="questionID != null">AND question_i_d=#{questionID}</if>
        <if test="solutionID != null">AND solution_i_d=#{solutionID}</if>
        <if test="resolver != null">AND resolver=#{resolver}</if>
        <if test="content != null">AND content=#{content}</if>
        <if test="comment != null">AND comment=#{comment}</if>
        <if test="favor != null">AND favor=#{favor}</if>
        <if test="opposition != null">AND opposition=#{opposition}</if>
        <if test="citeSolution != null">AND cite_solution=#{citeSolution}</if>
        <if test="date != null">AND `date`=#{date}</if>
        <if test="statu != null">AND statu=#{statu}</if>
        <if test="reason != null">AND reason=#{reason}</if>
    </select>

    <insert id="insertSolution" >
        INSERT INTO `solution`(question_i_d,solution_i_d,resolver,content,comment,favor,opposition,cite_solution,`date`,statu,reason)
        VALUES (#{questionID},#{solutionID},#{resolver},#{content},#{comment},#{favor},#{opposition},#{citeSolution},#{date},#{statu},#{reason})
    </insert>

    <delete id="deleteSolution">
        DELETE FROM `solution`
        WHERE 1=1
        <if test="questionID != null">AND question_i_d=#{questionID}</if>
        <if test="solutionID != null">AND solution_i_d=#{solutionID}</if>
        <if test="resolver != null">AND resolver=#{resolver}</if>
        <if test="content != null">AND content=#{content}</if>
        <if test="comment != null">AND comment=#{comment}</if>
        <if test="favor != null">AND favor=#{favor}</if>
        <if test="opposition != null">AND opposition=#{opposition}</if>
        <if test="citeSolution != null">AND cite_solution=#{citeSolution}</if>
        <if test="date != null">AND `date`=#{date}</if>
        <if test="statu != null">AND statu=#{statu}</if>
        <if test="reason != null">AND reason=#{reason}</if>
    </delete>

    <update id="updateSolution">
        UPDATE `solution`
        <set>
            solution_i_d=#{solutionID},
            <if test="solutionID != null">question_i_d=#{questionID},</if>
            <if test="resolver != null">resolver=#{resolver},</if>
            <if test="content != null">content=#{content},</if>
            <if test="comment != null">comment=#{comment},</if>
            <if test="favor != null">favor=#{favor},</if>
            <if test="opposition != null">opposition=#{opposition},</if>
            <if test="citeSolution != null">cite_solution=#{citeSolution},</if>
            <if test="date != null">`date`=#{date},</if>
            <if test="statu != null">statu=#{statu},</if>
            <if test="reason != null">reason=#{reason},</if>
        </set>
        WHERE solution_i_d=#{solutionID}
    </update>
</mapper>