<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guat.csms.mapper.AdminMapper">

    <select id="getAllColleges" resultType="College">
        SELECT c_name,c_id FROM college
    </select>
    <select id="getAllMajors" resultType="Major">
        SELECT m_name,m_id FROM majors ORDER BY m_id DESC
    </select>

    <resultMap id="StudentMap" type="Student">
        <id property="sNo" column="s_no"></id>
        <result property="username" column="username"></result>
        <result property="IDCard" column="_i_d_card"></result>
        <result property="grade" column="grade"></result>
        <result property="classid" column="classid"></result>
        <result property="manager" column="manager"></result>
        <association property="college" javaType="college">
            <id property="cId" column="c_id"></id>
            <result property="cName" column="c_name"></result>
        </association>
        <association property="major" javaType="major">
            <id property="mId" column="m_id"></id>
            <result property="mName" column="m_name"></result>
        </association>
        <collection property="stuCadreInfo" ofType="StuCadreInfo">
            <id property="scId" column="sc_id"></id>
            <result property="position" column="position"></result>
            <result property="years" column="years"></result>
            <result property="stuCadre" column="stu_cadre"></result>
        </collection>
    </resultMap>
    <select id="selectStudents" resultMap="StudentMap" parameterType="student">
        SELECT stu.s_no,username,_i_d_card,colleges.c_id,c_name,grade,majors.m_id,m_name,classid,manager,sc_id,position,years,stu_cadre
        FROM stu
        LEFT JOIN colleges ON stu.college=colleges.c_id
        LEFT JOIN majors ON stu.major=majors.m_id
        LEFT JOIN stu_cadre_info on stu.s_no=stu_cadre_info.s_no
        WHERE 1=1
        <if test="sNo != null">AND stu.s_no = #{sNo}</if>
        <if test="username != null">AND username = #{username}</if>
        <if test="IDCard != null">AND i_d_card = #{IDCard}</if>
        <if test="college != null">
            <if test="college.cId != null">AND colleges.c_id = #{college.cId}</if>
            <if test="college.cName != null">AND c_name = #{college.cName}</if>
        </if>
        <if test="grade != null">AND grade = #{grade}</if>
        <if test="major != null">
            <if test="major.mId != null">AND majors.m_id = #{major.mId}</if>
            <if test="major.mName != null">AND m_name = #{major.mName}</if>
        </if>
        <if test="classid != null">AND classid = #{classid}</if>
        <if test="manager != null">AND manager = #{manager}</if>
        <if test="stuCadreInfo !=null" >
            <foreach item="item" index="index" collection="stuCadreInfo"
                          open="" separator="," close="">
                <if test="item.scId != null">AND sc_id = #{item.scId}</if>
                <if test="item.position != null">AND position = #{item.position}</if>
                <if test="item.years != null">AND years = #{item.years}</if>
                <if test="item.stuCadre != null">AND stu_cadre = #{item.stuCadre}</if>
            </foreach>
        </if>
        ORDER BY stu.s_no
    </select>

    <insert id="insertStuCadreInfo" parameterType="list">
        INSERT INTO stu_cadre_info(`s_no`,`position`,years,stu_score) VALUES
        <foreach collection="maps" separator="," item="map ">
            (#{map.sno},#{map.position},#{map.years},#{map.score})
        </foreach>
    </insert>

    <delete id="deleteStudent">
        DELETE FROM stu WHERE s_no = #{sNo}
    </delete>


    <update id="updateStuCadreInfo">
        update stu_cadre_info
        <set>
            sc_id = #{item.scId},
            <if test="position != null">position = #{position},</if>
            <if test="years != null">years = #{years},</if>
            <if test="stuCadre != null">stu_cadre = #{stuCadre}</if>
        </set>
        where sc_id = #{item.scId}
    </update>

</mapper>