<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongliu.goodquestion.dao.mapper.TagMapper">

    <select id="selectTagToString" resultType="string">
        SELECT context FROM `tag`
    </select>
    <select id="selectTag" resultType="tag">
        SELECT id,context
        FROM `tag`
        WHERE 1=1
        <if test="id != null">AND id=#{id}</if>
        <if test="context != null">AND context = #{context}</if>
    </select>

    <insert id="insertTag" >
        INSERT INTO `tag`(context)
        VALUES (#{context})
    </insert>

    <delete id="deleteTag">
        DELETE FROM tag
        WHERE 1=1
        <if test="id != null">id=#{id}</if>
        <if test="context != null">AND context = #{context}</if>
    </delete>

    <update id="updateTag">
        UPDATE tag
        <set>
            id=#{id},
            <if test="context != null">context = #{context},</if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>