<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dongliu.goodquestion.mapper.UserMapper">

    <select id="selectPasssword" resultType="string">
        SELECT password FROM `user` WHERE account=#{account}
    </select>

    <select id="selectUser" resultType="user">
        SELECT account,nick_name,avatar,email,likes,questions,solutions
        FROM `user`
        WHERE 1=1
        <if test="account != null">AND account=#{account}</if>
        <if test="nickName != null">AND nick_name=#{nickName}</if>
        <if test="avatar != null">AND avatar=#{avatar}</if>
        <if test="email != null">AND email=#{email}</if>
        <if test="likes != null">AND likes=#{likes}</if>
        <if test="questions != null">AND questions=#{questions}</if>
        <if test="solutions != null">AND solutions=#{solutions}</if>
    </select>

    <insert id="insertUser" >
        INSERT INTO `user`(account,password,nick_name,avatar,email,likes,questions,solutions)
        VALUES (#{account},#{password},#{nickName},#{avatar},#{email},#{likes},#{questions},#{solutions})
    </insert>

    <delete id="deleteUser">
        DELETE FROM `user`
        WHERE 1=1
        <if test="account != null">AND account=#{account}</if>
        <if test="nickName != null">AND nick_name=#{nickName}</if>
        <if test="avatar != null">AND avatar=#{avatar}</if>
        <if test="email != null">AND email=#{email}</if>
        <if test="likes != null">AND likes=#{likes}</if>
        <if test="questions != null">AND questions=#{questions}</if>
        <if test="solutions != null">AND solutions=#{solutions}</if>
    </delete>

    <update id="updateUser">
        UPDATE `user`
        <set>
            account=#{account},
            <if test="nickName != null">nick_name=#{nickName},</if>
            <if test="password != null">password=#{password},</if>
            <if test="avatar != null">avatar=#{avatar},</if>
            <if test="email != null">email=#{email},</if>
            <if test="likes != null">likes=#{likes},</if>
            <if test="questions != null">questions=#{questions},</if>
            <if test="solutions != null">solutions=#{solutions},</if>
        </set>
        WHERE account=#{account}
    </update>

<!--    <resultMap id="StudentMap" type="Student">-->
<!--        <id property="sNo" column="s_no"></id>-->
<!--        <result property="username" column="username"></result>-->
<!--        <result property="IDCard" column="_i_d_card"></result>-->
<!--        <result property="grade" column="grade"></result>-->
<!--        <result property="classid" column="classid"></result>-->
<!--        <result property="manager" column="manager"></result>-->
<!--        <association property="college" javaType="college">-->
<!--            <id property="cId" column="c_id"></id>-->
<!--            <result property="cName" column="c_name"></result>-->
<!--        </association>-->
<!--        <association property="major" javaType="major">-->
<!--            <id property="mId" column="m_id"></id>-->
<!--            <result property="mName" column="m_name"></result>-->
<!--        </association>-->
<!--        <collection property="stuCadreInfo" ofType="StuCadreInfo">-->
<!--            <id property="scId" column="sc_id"></id>-->
<!--            <result property="position" column="position"></result>-->
<!--            <result property="years" column="years"></result>-->
<!--            <result property="stuCadre" column="stu_cadre"></result>-->
<!--        </collection>-->
<!--    </resultMap>-->

<!--    <insert id="insertStuCadreInfo" parameterType="list">-->
<!--        INSERT INTO stu_cadre_info(`s_no`,`position`,years,stu_score) VALUES-->
<!--        <foreach collection="maps" separator="," item="map ">-->
<!--            (#{map.sno},#{map.position},#{map.years},#{map.score})-->
<!--        </foreach>-->
<!--    </insert>-->

<!--    <delete id="deleteStudent">-->
<!--        DELETE FROM stu WHERE s_no = #{sNo}-->
<!--    </delete>-->


<!--    <update id="updateStuCadreInfo">-->
<!--        update stu_cadre_info-->
<!--        <set>-->
<!--            sc_id = #{item.scId},-->
<!--            <if test="position != null">position = #{position},</if>-->
<!--            <if test="years != null">years = #{years},</if>-->
<!--            <if test="stuCadre != null">stu_cadre = #{stuCadre}</if>-->
<!--        </set>-->
<!--        where sc_id = #{item.scId}-->
<!--    </update>-->

</mapper>