html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root{
  --input-bg: #dcdcdc;
  --input-default-font-color: gray;
  --input-focus-font-color: #202020;
}
